In [1]:
import pandas as pd
import numpy as np
from sklearn import cross_validation


## Calculate median value based on training set

In [6]:
train = pd.read_csv("../data/train.csv", dtype={'StateHoliday': str})
train = train[train['Sales'] > 0]
df = train[['Promo', 'Sales']].groupby('Promo').median()
promo_median = list(df['Sales'])
promo_median

       Sales
Promo
0       5459
1       7650

[5459, 7650]

## Prepare solution data with median value

In [8]:
test = pd.read_csv("../data/test.csv", dtype={'StateHoliday': str})
test['Sales'] = test['Promo'].map(lambda x: dowm[x-1])
test.to_csv('../data/solution.csv', columns=['Id', 'Sales'], index=False)

## Cross validate

In [5]:
(cv_train, cv_test) = cross_validation.train_test_split(train)
df = cv_train[['Promo', 'Sales']].groupby('Promo').median()
dowm = list(df['Sales'])
print(dowm)
y = cv_test['Promo'].map(lambda x: dowm[x-1])
spe = ((cv_test['Sales']-y)/cv_test['Sales'])**2.0
mspe = spe.sum()/len(spe)
rmspe = np.sqrt(mspe)
print("RMSPE=%f" % rmspe)
cv_test.head(10)

[5458, 7649]
RMSPE=0.706968

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
740060,486,5,2013-09-06,3206,436,1,0,0,0
479429,765,1,2014-04-28,10620,852,1,1,0,0
368664,536,2,2014-08-12,7004,771,1,0,0,1
411670,1021,6,2014-06-28,9829,1101,1,0,0,0
939394,235,1,2013-03-11,4305,452,1,0,0,0
696669,580,2,2013-10-15,7560,1293,1,0,0,1
364484,10,6,2014-08-16,4478,464,1,0,0,1
306772,325,5,2014-10-17,4441,501,1,0,0,1
871480,336,6,2013-05-11,11600,1830,1,0,0,0
409251,832,1,2014-06-30,9802,684,1,1,0,0