# Predict median value

In [31]:
import pandas as pd
import numpy as np
from sklearn import cross_validation

## Calculate median value based on training set

In [32]:
train = pd.read_csv("../data/train.csv", dtype={'StateHoliday': str})
train = train[train['Sales'] > 0]
median = train['Sales'].median()
median

6369.0

## Prepare solution data with median value

In [33]:
test = pd.read_csv("../data/test.csv", dtype={'StateHoliday': str})
test['Sales'] = median
test.head(5)

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,Sales
0,1,1,4,2015-09-17,1,1,0,0,6369
1,2,3,4,2015-09-17,1,1,0,0,6369
2,3,7,4,2015-09-17,1,1,0,0,6369
3,4,8,4,2015-09-17,1,1,0,0,6369
4,5,9,4,2015-09-17,1,1,0,0,6369

In [12]:
test.to_csv('../data/solution.csv', columns=['Id', 'Sales'], index=False)

## Cross validate train set

In [34]:
(cv_train, cv_test) = cross_validation.train_test_split(train)
median = cv_train['Sales'].median()
print("Median: %d" % median)
cv_sales = cv_test['Sales']
cv_sales = cv_sales[cv_sales > 0]
spe = ((cv_sales-median)/cv_sales)**2.0
mspe = spe.sum()/len(spe)
rmspe = np.sqrt(mspe)
print("RMSPE=%f" % rmspe)

Median: 6368
RMSPE=0.531564